/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2017, 2:51:20 PM
    Author     : Wamae Benson
*/

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}