/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2018, 11:02:35 AM
    Author     : Wamae Benson
*/

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    //border: 1px solid black;
}
